* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}
nav {
  background-color: #1a282f;
  width: 100%;
  border-top: #ffffff 1px solid;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.hs-text,
.sk-text {
  font-family: "Roboto Slab", serif;
}
.main-nav li,
.secondary-nav li {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  color: #ffffff;
}
/* MAIN NAV */
.main-nav li {
  display: inline-block;
}
/* SECONDARY NAV */
.secondary-nav li {
  display: block;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 75% 25%;
  max-width: 1200px;
  column-gap: 15px;
}

/* BREAKING NEWS */
.breaking-news {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  background-color: #ffffff;
}

/* STORY ONE */
.story1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px;
  margin-bottom: 15px;
}

.story1_image {
  grid-column: 1/2;
  position: relative;
}

.story1_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* STORY TWO */
.story2 {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 200px;
  margin-bottom: 15px;
  column-gap: 15px;
}

.story2_left {
  display: grid;
  grid-template-columns: 45% 55%;
}

.story2_image {
  grid-column: 1/2;
  position: relative;
}

.story2_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story2_right {
  grid-column: 2/3;
  margin-right: 15px;
}

/* STORY THREE */
.story3 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 200px;
  margin-bottom: 15px;
  column-gap: 15px;
}

.story3_left {
  grid-column: 1/2;
}

.story3_right {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 45% 55%;
  margin-right: 15px;
}

.story3_image {
  grid-column: 1/2;
  position: relative;
}

.story3_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story3_text {
  grid-column: 2/3;
}

/* STORY FOUR */
.story4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px;
  margin-bottom: 15px;
}

.story4_image {
  grid-column: 1/2;
  position: relative;
}

.story4_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story4_text {
  grid-column: 2/3;
}

/* MOST POPULAR COLUMN */
.most-popular {
  grid-column: 2/3;
  background-color: #ffffff;
  border-top: #eee809 10px solid;
}
.mp-one {
  border-top: 2px #c4cace solid;
  border-bottom: 2px #c4cace solid;
}
.mp-img {
  grid-column: 1;
  margin: 5px;
  height: 65px;
  width: auto;
}

.mp-one p {
  grid-column: 2;
}

/* VIP SIGN UP BAR */
.sign-up {
  background-color: #283842;
  grid-column: 1/-1;
  height: 70px;
  margin-bottom: 15px;
}

.sign-up p {
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff;
}

.signup-button {
  background: #d71440;
  position: absolute;
  z-index: 1;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff;
  text-decoration: none;
}

/* RECOMMENED FOR YOU */
.recommended {
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(2, minmax(100px, max-content));
  display: grid;
  background-color: #ffffff;
  grid-column: 1 / 3;
}

.recommended > div:nth-child(-n + 6) {
  border-right: #c4cace 1px solid;
}

.recommended > div {
  margin: 25px 0 25px 0;
  padding: 0 10px 0 10px;
}
.rc-image {
  width: 100%;
}
/* HEIGHT/SPAN */
.rc1,
.rc2,
.rc3,
.rc4,
.rc5,
.rc6 {
  grid-row: 2/3;
}

.ts-tag {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  color: #6b7b84;
}
.rc-title-ctn {
  grid-column: 1/-1;
}
.rc-title,
.mp-title {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.recommended p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.rc-tag {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
}

/* LATEST NEWS */
.latest-news {
  display: grid;
  grid-template-columns: 200px 900px;
  grid-template-rows: repeat(9, minmax(100px, max-content));
  background-color: #ffffff;
  grid-column: 1/4;
  border-top: 10px solid #243842;
}
/* LN TITLE */
.ln-title {
  grid-row: 1/2;
  padding: 15px;
}
/* LATEST NEWS TEXT */
.ln-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* LATEST NEWS STORIES */

.ln-one-text,
.ln-two-text,
.ln-three-text,
.ln-four-text,
.ln-five-text,
.ln-six-text,
.ln-seven-text,
.ln-eight-text {
  padding: 10px;
}

/* LN ONE */
.ln-one-image {
  grid-column: 1/2;
  grid-row: 2/3;
}

.ln-one-text {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* LN TWO */
.ln-two-image {
  grid-column: 1;
  grid-row: 3;
}

.ln-two-text {
  grid-column: 2/3;
  grid-row: 3;
}
/* LN THREE */
.ln-three-text {
  grid-column: 2/3;
  grid-row: 4;
}

.ln-three-image {
  grid-row: 4;
}

/* LN FOUR */
.ln-four-text {
  grid-column: 2/3;
  grid-row: 5;
}

.ln-four-image {
  grid-column: 1;
}

/* LN FIVE */
.ln-five-text {
  grid-column: 2/3;
  grid-row: 6;
}

.ln-five-image {
  grid-column: 1;
}

/* LN SIX */
.ln-six-text {
  grid-column: 2/3;
  grid-row: 7;
}

.ln-six-image {
  grid-column: 1;
}
/* LN SEVEN */
.ln-seven-text {
  grid-column: 2/3;
  grid-row: 8;
}

.ln-seven-image {
  grid-column: 1;
}
/* LN EIGHT */
.ln-eight-text {
  grid-column: 2/3;
  grid-row: 9;
}

.ln-eight-image {
  grid-column: 1;
}

/* LATEST NEWS IMAGE */
.ln-img {
  grid-column: 1;
  grid-row: 2;
  width: 200px;
}
/* LATEST NEWS COLUMN */
.ln-column {
  grid-column: 4;
  grid-row: 5/6;
  background-color: #243842;
}

.alw {
  height: 304px;
  width: 304px;
}

/* REVIEWS */
.reviews {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 3fr;
  background-color: #ffffff;
  grid-row: 7;
  grid-column: 1/3;
}

/* REVIEWS NAV */
.reviews-nav li {
  list-style: none;
  display: inline;
}

.review-one {
  grid-column: 2/3;
  grid-row: 2;
}

.review-two {
  grid-column: 3/4;
  grid-row: 2;
}

.review-three {
  grid-column: 4/5;
  grid-row: 2;
}

.review-four {
  grid-column: 5/6;
  grid-row: 2;
}

.more {
  grid-column: 5;
  grid-row: 3;
}

/* VIDEO */
.video {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(3, 1fr);
  grid-row: 8/9;
  grid-column: 1/3;
  background-color: #243842;
}

/* VIP */
.vip {
  display: grid;
  grid-row: 9;
  grid-column: 1/3;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: repeat(2, 1fr);
}

.voices {
  grid-row: 13;
  grid-column: 1/4;
}

.awards {
  grid-row: 14;
  grid-column: 1/4;
}

.o-news {
  grid-row: 15;
  grid-column: 1/4;
}

.magazine {
  grid-row: 16;
  grid-column: 1/4;
}

.brands {
  grid-row: 17;
  grid-column: 1/4;
}
/* FOOTER */
footer {
  grid-row: 18;
  list-style: none;
}
